{% extends 'base.html' %}

{% block title %}Login - Cauldron Plugin Registry{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-form">
        <h1 style="font-weight: 300;">Login</h1>
        <form method="post">
            {% csrf_token %}
            <div class="input-field">
                <input id="id_username" name="{{ form.username.name }}" type="text" class="validate" value="{{ form.username.value|default_if_none:'' }}">
                <label for="id_username">Username</label>
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="input-field" style="margin-bottom: 30px;">
                <input id="id_password" name="{{ form.password.name }}" type="password" class="validate">
                <label for="id_password">Password</label>
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <span class="helper-text red-text">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            {% if form.non_field_errors %}
                <div style="margin-bottom: 20px;">
                    {% for error in form.non_field_errors %}
                        <p class="red-text">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="button-group">
                <button class="btn-large waves-effect waves-light login-btn" type="submit" name="action">
                    Login
                    <i class="material-icons right">send</i>
                </button>
                <a href="{% url 'social:begin' 'orcid' %}" class="waves-effect waves-light btn-large orcid-btn login-btn">
                    ORCID Login
                    <i class="material-icons right">person_pin</i> {# Using generic person_pin for ORCID #}
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
